* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.wrap {
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.gallery-block {
    display: flex;
    justify-content: flex-start;
}

.albums-box {
    padding: 15px;
    width: 30%;
    background: #333434;
}

.albums-list {
    list-style: none;
    padding: 0;
    color: ivory;
}

.album-item {
    padding-bottom: 15px;
    cursor: pointer;
}

.album-item:hover {
    color: #9000ff;
}

.photos-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #2a3131;
    width: 70%;
}

.photo-item {
    float: right;
    width: 33.333%;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
}

.hide {
    display: none;
}
