* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    background: linear-gradient(90deg, #009dff, #9005a2);
}

.container {
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    border-radius: 10px;
    cursor: pointer;
}

.button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 15px;
    border-bottom: 2px solid #ffffff;
}

h3 {
    color: #ffffff;
}

.button-add {
    padding: 5px 35px;
    color: #ffffff;
    background: #13d301;
    font-weight: 600;
    font-size: 18px;
    float: right;
    text-align: center;
}

.button-add:hover {
    background-color: #ffa500;
}

.sticker-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.sticker-item {
    padding: 10px;
    width: 25%;
}

.sticker-item-input {
    width: 100%;
    height: 200px;
    resize: none;
    background: #e9e7dd;
    border: none;
    font-size: 16px;
    padding: 10px;
}

.sticker-box {
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    width: 100%;
    background: #ceccc2;
}

.delete-btn {
    text-align: right;
    float: right;
    margin-bottom: -8px;
    background: #ff1515;
    padding: 5px 10px;
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.delete-btn:hover {
    background: #960606;
}

.fa-times {
    pointer-events: none;
}

.hide {
    display: none;
    padding-right: 30px;
}
