* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;    
}

.wrap {
	max-width: 767px;
	margin: 0 auto;
	padding: 0 15px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.table th,
.table td {
	padding: 10px;
}

.cell-btn {
	text-align: center;
}

.button {
	line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
	padding: 5px 10px;
    border-radius: 15px;
	width: 100%;	
}

.btn-add {
	background: green;
    color: white;
    border: none;
}

.btn-delete {
	background: red;
    color: white;
    border: none;
}

.field {
	padding: 5px 10px;
	border-radius: 10px;
}