* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;    
}

.wrap {
	max-width: 1200px;
	min-width: 600px;
	margin: 0 auto;
	padding: 0 15px;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

.table th,
.table td {
	padding: 10px;
}

.cell-btn {
	display: flex;
	text-align: center;
}

.button {
	line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    cursor: pointer;
	margin: 0 3px;
	padding: 5px 5px;
    border-radius: 15px;
	width: 100%;	
}

.btn-edit {
	background: rgb(255, 174, 0);
    color: white;
    border: none;
}

.btn-add,
.btn-save{
	background: green;
    color: white;
    border: none;
	width: 80px;
}

.btn-delete {
	background: red;
    color: white;
    border: none;
}

.fa-trash,
.fa-edit,
.fa-save {
  pointer-events: none;
}

.field {
	padding: 5px 10px;
	border-radius: 10px;
	width: 100%;
}

.hide {
	display: none;
  }
  
  .error {
	color: red;
  }